.timecard-week {
	padding: 10px;
	display: grid;
	grid-gap: 5px;
}

@media (max-width: 760px) {
    .timecard-week {
    grid-template-columns: 39% 20% 15% 20%;
    }
}

@media (min-width: 761px) {
    .timecard-week {
	grid-template-columns: 25% 10% 10% 10%;
    }
}

label {
	font-size: 1.9em;
	text-align: center;
}


input {
	font-size: 1.9em;
}


@media (max-width: 500px) {
    label {
        font-size: 1.3em;
    }
    input {
        font-size: 1.3em;
    }
}

@media (max-width: 400px) {
    label {
        font-size:1em;
    }
    input {
        font-size:1em;
    }
}

#totalHours {
	padding: 15px;
	font-size: 36px;
	text-align: center;
	position: relative;
	right: 20%;
}

#calcButton {
	padding: 10px;
	font-size: 24px;
	position: relative;
	left: 15%;
}

#clearButton {
	padding: 10px;
	font-size: 24px;
	position: relative;
	left: 20%;
}

input.valid{
    border-color:green;
}

input.invalid{
    border-color: orange;
}
